@using System
@using System.Collections.Generic
@using System.Linq
@using System.Web
@using System.Web.Mvc
@using System.Data.SqlClient
@using System.Data
@using System.Configuration
@using System.Text
@using System.Diagnostics;
@using System.Web.UI.HtmlControls;
@using LaborNeedsScheduling.Models
@model AvailabilityViewModel


<head>
    <style>
        ::-moz-selection {
            background-color: Transparent;
            color: #000;
        }

        ::selection {
            background-color: Transparent;
            color: #000;
        }

        .mainalt {
            padding-left: 100px;
            padding-top: 100px;
            display: inline-block;
        }
    </style>
</head>

<body>
    @*@if (Model.EmployeeStatus == false)
    {
        <div class="mainalt">
            <h2>You don't have permission to view the page.</h2>
        </div>
        <br />
        <br />
    }
    else
    {*@
        <br />
        <br />
        <h3>Employee Availability</h3>
        <br />
        <br />

        @Html.DropDownListFor(m => m.EmpAvailabilityTable, new SelectList(Model.empList.Items, "Key", "Value"), new { id = "EmployeeDropdown" })

        <br />
        <br />
        <hr />
        <br />

        <div id="EmployeeAvailability"></div>
        @*<button type="button" onclick="updateSchedule()" style="float:right">Update</button><br>*@

        @Html.HiddenFor(m => Model.updatedSchedule, new { id = "hiddenUpdatedSchedule" })
        @Html.HiddenFor(m => Model.selectedEmployeeId, new { id = "hiddenSelectedEmployeeId" })


        @*}*@
    @*}*@

</body>

@section scripts
{
    <script>
        function updateSchedule() {
            $.post('/Home/EmployeeAvailability/?UpdatedSchedule=' + document.getElementById("hiddenUpdatedSchedule").value, function (data) {

                //load partial to page
                $('#EmployeeAvailability').html(data);
            });
            alert(document.getElementById("hiddenSelectedEmployeeId").value + "'s availability has been updated.")
        }
    </script>

    <script>
        $('#EmployeeDropdown').change(function () {

            /* Get the selected value of dropdownlist */
            var selectedID = $(this).val();
            document.getElementById("hiddenSelectedEmployeeId").value = selectedID;

            /* Request the partial view with .get request. */
            $.get('/Home/_EmployeeAvailabilityTable/?EmployeeId=' + selectedID, function (data) {

                /* data is the pure html returned from action method, load it to your page */
                $('#EmployeeAvailability').html(data);
                /* little fade in effect */
                $('#EmployeeAvailability').fadeIn('fast');
            });


        });
    </script>

}