@using System
@using System.Collections.Generic
@using System.Linq
@using System.Web
@using System.Web.Mvc
@using System.Data.SqlClient
@using System.Data
@using System.Configuration
@using System.Text
@using System.Diagnostics;
@using System.Web.UI.HtmlControls;
@using LaborNeedsScheduling.Models
@model DataTable



@{
    ViewBag.Title = "EmployeeAvailabilityTable";
}

<head>

    @*table*@
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 1100px;
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            table-layout: fixed;
            word-break: break-all;
        }

        td, th {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: center;
            vertical-align: middle;
            border: 1px solid #000000;
        }

            td.highlight:hover {
                background-color: white;
            }

            td:first-child {
                font-weight: bold;
                text-align: left;
            }

        .container {
            align-content: center;
            margin: 0;
        }

        .left-element {
            display: inline;
            float: left;
        }

        .right-element {
            display: inline;
            float: right;
            padding-right: 50px;
        }

        body {
            padding-left: 200px;
            padding-top: 70px;
        }

        .testing-left {
            display: inline;
            float: left;
            padding: 5px;
            border-style: solid;
            border-width: 1px;
            text-align: center;
            font-size: 70%;
        }

        td:first-child {
            background-color: white;
        }
    </style>

    <style>
        .Available {
            background: #51ff62;
        }

        .NotAvailable {
            background: #ff5555;
        }
    </style>
</head>

<body>

    @using (Html.BeginForm("EmployeeAvailability", "Home", FormMethod.Post))
    {
        <div class="white-body">
            <table border="1" cellpadding="5" id="weekhours" class="weekhours">
                <thead>
                    <tr>
                        @foreach (DataColumn col in Model.Columns)
                        {
                            <th>@col.Caption</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow row in Model.Rows)
                    {
                        <tr>
                            @foreach (var cell in row.ItemArray)
                            {

                            if (@cell.ToString() == "True")
                            {
                                <td id="scheduleCell" class="scheduleCell" onclick="changeText">
                                    ●
                                </td>
                            }
                            else if (@cell.ToString() == "False")
                            {
                                <td id="scheduleCell" class="scheduleCell" onclick="changeText">
                                   
                                </td>
                            }
                            else
                            {
                                <td id="scheduleCell" class="scheduleCell" onclick="changeText">
                                    @cell.ToString()
                                </td>
                            }

                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <button type="submit" style="float:right">Update</button><br>
    }

    <script>
        var cells = document.querySelectorAll("td");

        for (var i = 0; i < cells.length; i++) {

            $('.scheduleCell:contains("●")').css('background-color', '#51ff62');
            $('.scheduleCell:contains("False")').css('background-color', '#ffffff');


            //cells[i].addEventListener("click", function () {
            //    //this.className = this.className == "NotAvailable" ? "Available" : "NotAvailable";

            //    $(this.className).toggleClass('change_me Available');
            //});
        }
    </script>

    @*<script>
        $('td').click(function () {
            $(this).html = 'heh';
        });
    </script>*@

    @*<script>
        function changeText() {
            document.getElementById('scheduleCell').innerHTML = 'pls';
        }
    </script>*@

    <script>
        $(function change_cell_content() {
            $("td").on("click", function () {

                var cell_id_ref = $(this).attr('cellID');
                var $table = $(this).closest('table');
                var newValue;

                var currentValue = $(this).html();

                var changeValue = prompt("Enter a new value. (Current " + currentValue + ")");
                if (changeValue !== null) {
                    $table.find('[cellID="' + cell_id_ref + '"]').text(changeValue);
                }
            });
        });
    </script>
</body>

