@using System
@using System.Collections.Generic
@using System.Linq
@using System.Web
@using System.Web.Mvc
@using System.Data.SqlClient
@using System.Data
@using System.Configuration
@using System.Text
@using System.Diagnostics;
@using System.Web.UI.HtmlControls;
@using LaborNeedsScheduling.Models
@model DataTable



@{
    ViewBag.Title = "EmployeeAvailabilityTable";
}

<head>

    @*table*@
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 1100px;
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            table-layout: fixed;
            word-break: break-all;
        }

        td, th {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: center;
            vertical-align: middle;
            border: 1px solid #000000;
        }

            td.highlight:hover {
                background-color: white;
            }

            td:first-child {
                font-weight: bold;
                text-align: left;
            }

        .container {
            align-content: center;
            margin: 0;
        }

        .left-element {
            display: inline;
            float: left;
        }

        .right-element {
            display: inline;
            float: right;
            padding-right: 50px;
        }

        body {
            padding-left: 200px;
            padding-top: 70px;
        }

        .testing-left {
            display: inline;
            float: left;
            padding: 5px;
            border-style: solid;
            border-width: 1px;
            text-align: center;
            font-size: 70%;
        }

        td:first-child {
            background-color: white;
        }
    </style>

    <style>
        .Available {
            background: #abffb3;
        }

        .NotAvailable {
            background: #d5d5d5;
        }
    </style>

    <style>
        ::-moz-selection {
            background-color: Transparent;
            color: #000;
        }

        ::selection {
            background-color: Transparent;
            color: #000;
        }
    </style>
</head>

<body>


    <h3></h3>
    @*@using (Html.BeginForm("EmployeeAvailability", "Home", FormMethod.Post))
        {*@
    <div class="white-body">
        <table border="1" cellpadding="5" id="weekhours" class="weekhours">
            <thead>
                <tr>
                    @foreach (DataColumn col in Model.Columns)
                    {
                        <th>@col.Caption</th>
                    }
                </tr>
            </thead>
            <tbody>
                @{ List<string> cellValues = new List<string>();}
                @foreach (DataRow row in Model.Rows)
                {
                    <tr>
                        @foreach (var cell in row.ItemArray)
                        {
                            if (cell.ToString() == "True")
                            {
                                <td class="Available" onclick="changeCell(this)" value=cell.ToString()>
                                    ♦
                                </td>;
                                cellValues.Add(cell.ToString());
                            }
                            else if (cell.ToString() == "False")
                            {
                                <td class="NotAvailable" onclick="changeCell(this)" value=cell.ToString()></td>
                                cellValues.Add(cell.ToString());
                            }
                            else
                            {
                                <td onclick="changeCell(this)">
                                    @cell.ToString()
                                </td>
                            }

                        }
                    </tr>
                }

            </tbody>
        </table>
    </div>

    <br />

</body>

<script>
    function changeCell(cell) {

        if (cell.className == "NotAvailable") {
            cell.className = "Available";
            cell.innerHTML = "♦";
        }
        else if (cell.className == "Available") {
            cell.className = "NotAvailable";
            cell.innerHTML = "";
        }


        // get all the cells in the table
        var table = document.getElementsByTagName("table")[0];
        var cells = table.getElementsByTagName("td");

        // set of class values to pass to the model
        var cellvalues = new Array(cells.length);

        // iterating over each cell
        for (var i = 1; i < cells.length; i++) {
            //var cellclass = cells[i];
            if (cells[i].className == "NotAvailable") {
                cellvalues[i - 1] = 'False';
            }
            else if (cells[i].className == "Available") {
                cellvalues[i - 1] = 'True';
            }
            else {
                cellvalues[i - 1] = 'timecell';
            }
        }

        document.getElementById("hiddenUpdatedSchedule").value = cellvalues;
    }

</script>